extends layout

block content
	div.row-fluid
		if(book.subtitle)
			p.muted(style='margin-bottom:0; padding-bottom:0;') #{book.subtitle}
		h2.span12
			[#{book.title}]
	div.row-fluid
		img.thumbnail.span4(src='http://image.yes24.com/goods/#{book.yes24_id}')
		div.span8
			table.table.table-striped
				tr
					th 상태
					td 
						- if(book.state == 0)
							span.label.label-success.label-large 대여가능
						- else if(book.state == 1)
							span.label.label-important.label-large 대여중
						- else if(book.state == 2)
							span.label.label-warning.label-large 구매 대기중
				tr
					th 저자
					td #{book.author}
				tr
					th 신청자
					td #{book.depart} #{book.name}
						

